@import "../../.config/matugen/generated/swayosd-colors.css";

window#osd {
  border-radius: 999px;
  border: none;
  background: alpha(@theme_bg_color, 0.8);
  /* CRITICAL CHANGES START */
  /* The shadow definition: x-offset y-offset blur spread color */
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.6);
  /* You MUST add margin. Without this, the shadow is clipped 
     by the window boundary and becomes invisible. */
  margin: 16px;
  /* CRITICAL CHANGES END */
}

window#osd #container {
  margin: 16px;
}

window#osd image,
window#osd label {
  color: @theme_fg_color;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(@theme_fg_color, 0.5);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @theme_fg_color;
}
