[Unit]
Description=Dusky Update Checker Timer (Every 6H)

[Timer]
# Wait 5 minutes after boot/login before the first check
# (Prevents slowing down the startup process)
OnBootSec=10min

# Run 6 hours after the last run finished
OnUnitActiveSec=6h

# IMPORTANT for distributed scripts:
# Adds a random delay of 0-5 minutes to prevent all users
# from hitting GitHub at the exact same second.
RandomizedDelaySec=600

# If the computer was off during the last scheduled run,
# run immediately upon booting up.
Persistent=true

[Install]
WantedBy=timers.target
