[Desktop Entry]
Type=Application
Name=Asus Control
Comment=Asus Laptop Controls
Exec=uwsm-app -- kitty --class asusctl.sh -e sudo /home/mocha/user_scripts/asus/asusctl.sh
Terminal=false
Categories=System;HardwareSettings;
Icon=computer-laptop
StartupNotify=true
