# --- Brightness Slider ---
[Desktop Entry]
Type=Application
Name=Brightness Slider
GenericName=Brightness Slider
Comment=Adjust Screen Brightness
Exec=uwsm-app -- /home/mocha/user_scripts/sliders/brightness_slider.sh
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=brightness;screen;light;
Icon=display-brightness-symbolic
StartupNotify=true
