[Desktop Entry]
Type=Application
Name=Clipboard Persistence
GenericName=Clipboard Through Reboots
Comment=Manage clipboard history and persistence
Exec=uwsm-app -- kitty --hold --class clipboard_persistance.sh -e /home/mocha/user_scripts/desktop_apps/clipboard_persistance.sh
Terminal=false
Categories=System;Utility;
Keywords=clipboard;copy;paste;history;
Icon=edit-paste
StartupNotify=true
