[Desktop Entry]
Type=Application
Name=dgop
GenericName=Process Viewer
Comment=Interactive process viewer
Exec=uwsm-app -- kitty --class dgop -e dgop
Terminal=false
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task;manager;
Icon=preferences-desktop-display
StartupNotify=true
