[Desktop Entry]
Type=Application
Name=Dusky Appearance TUI
GenericName=Theme Configurator
Comment=Real-time Hyprland appearance and opacity configurator
Exec=uwsm-app -- kitty --class dusky_appearances.sh -e /home/mocha/user_scripts/hypr/dusky_appearances.sh
Terminal=false
Categories=Settings;DesktopSettings;System;Utility;
Keywords=dusky;hyprland;appearance;theme;tui;config;settings;opacity;blur;shadow;
Icon=preferences-desktop-display
StartupNotify=true
StartupWMClass=dusky_appearances.sh
