[Desktop Entry]
Type=Application
Name=Dusky Waybar Swap
GenericName=Bar Config Switcher
Comment=Toggle between Waybar configurations
Exec=uwsm-app -- kitty --class dusky_waybars.sh -e /home/mocha/user_scripts/waybar/dusky_waybars.sh
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=dusky;waybar;panel;bar;toggle;switch;
Icon=image-x-generic
StartupNotify=true
