[Desktop Entry]
Type=Application
Name=Dusky Toggle Service
GenericName=User Services
Comment=Configure Service Settings
Exec=uwsm-app -- kitty --class dusky_service_toggle.sh -e /home/mocha/user_scripts/services/dusky_service_toggle.sh
Terminal=false
Categories=Settings;System;
Keywords=dusky;service;network;nightlight;timeout;battery;toggle;
Icon=preferences-system-power
StartupNotify=true
