[Desktop Entry]
Type=Application
Name=Dusky Input TUI
GenericName=Input Configurator
Comment=Real-time Hyprland input, mouse, and gesture configurator
Exec=uwsm-app -- kitty --class dusky_input.sh -e /home/mocha/user_scripts/hypr/dusky_input.sh
Terminal=false
Categories=Settings;DesktopSettings;System;Utility;
Keywords=dusky;hyprland;input;mouse;keyboard;touchpad;gestures;tui;config;settings;
Icon=preferences-desktop-keyboard
StartupNotify=true
StartupWMClass=dusky_input.sh
