[Desktop Entry]
Type=Application
Name=File Manager Switcher
GenericName=Yazi and Thunar
Comment=Switch between file managers
Exec=uwsm-app -- kitty --hold --class file_manager_switch.sh -e /home/mocha/user_scripts/desktop_apps/file_manager_switch.sh
Terminal=false
Categories=System;Utility;FileTools;
Keywords=file;manager;switch;change;
Icon=system-file-manager
StartupNotify=true
