[Desktop Entry]
Type=Application
Name=IO Monitor
GenericName=Disk IO Usage
Comment=Real-time Disk I/O Monitoring
Exec=uwsm-app -- kitty --class io_monitor.sh -e /home/mocha/user_scripts/drives/io_monitor.sh
Terminal=false
Categories=System;Monitor;
Keywords=disk;io;read;write;monitor;
Icon=drive-harddisk
StartupNotify=true
