[Desktop Entry]
Type=Application
Name=OpenSSH Setup
Comment=Configure SSH Server
Exec=uwsm-app -- kitty --hold --class wifi_testing -e sudo /home/mocha/user_scripts/networking/02_openssh_setup.sh
Terminal=false
Categories=Network;
Icon=internet-services
StartupNotify=true
