[Desktop Entry]
Type=Application
Name=Power Saver Mode
GenericName=Battery Saver
Comment=Enable Power Saving Mode (Prompt)
Exec=uwsm-app -- kitty --hold --class power_saver.sh -e /home/mocha/user_scripts/battery/power_saving/power_saver.sh
Terminal=false
Categories=System;Settings;
Keywords=battery;power;save;energy;
Icon=battery-low
StartupNotify=true
