[Desktop Entry]
Type=Application
Name=Relink Existing Github and Push Changes
Comment=Reconnect and push local changes to remote
Exec=uwsm-app -- kitty --hold --class reconnect_and_push_new_changes_to_github.sh -e /home/mocha/user_scripts/desktop_apps/reconnect_and_push_new_changes_to_github.sh
Terminal=false
Categories=Development;RevisionControl;
Keywords=git;push;sync;upload;github;
Icon=vcs-push
StartupNotify=true
