# --- Scale Up ---
[Desktop Entry]
Type=Application
Name=Scale UI Up
Comment=Increase display scaling
Exec=uwsm-app -- /home/mocha/user_scripts/hypr/adjust_scale.sh +
Terminal=false
Categories=Settings;
Icon=zoom-in
StartupNotify=true
