# --- SwayNC Client ---
[Desktop Entry]
Type=Application
Name=Toggle Notification Center
Comment=Open/Close SwayNC
Exec=uwsm-app -- swaync-client -t
Terminal=false
Categories=Utility;
Icon=preferences-system-notifications
StartupNotify=true
