[Desktop Entry]
Type=Application
Name=Tailscale Uninstall
Comment=Remove Tailscale Configuration
Exec=uwsm-app -- kitty --hold --class tailscale_uninstall -e sudo /home/mocha/user_scripts/networking/uninstall_tailscale.sh
Terminal=false
Categories=Network;
Icon=edit-delete
StartupNotify=true
