[Desktop Entry]
Type=Application
Name=Tailscale Setup
Comment=Configure Tailscale VPN
Exec=uwsm-app -- kitty --hold --class tailscale_setup -e sudo /home/mocha/user_scripts/networking/01_tailscale_setup.sh
Terminal=false
Categories=Network;
Icon=network-vpn
StartupNotify=true
