# --- Volume Slider ---
[Desktop Entry]
Type=Application
Name=Volume Slider
GenericName=Volume Slider
Comment=Adjust Audio Volume
Exec=uwsm-app -- /home/mocha/user_scripts/sliders/volume_slider.sh
Terminal=false
Categories=Audio;Settings;
Keywords=volume;sound;audio;control;
Icon=audio-volume-high
StartupNotify=true
